.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 812;
    height: 889;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 10px;
}

.no-scroll {
    overflow: hidden;
}

.modal.show {
    display: block;
}

.all {
    padding: 20px auto;
    padding-top: 20px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600;
    text-align: center;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    margin-right: 20px;
    margin-top: 15px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.progress-bar {
    width: 70%;
    background-color: #fffefe;
    margin: 10px auto 0px auto;
    border: #cecdcd solid 2px;
    border-radius: 15px;
}

.progress {
    height: 15px;
    background-color: #6A0DAD;
    width: 0;
    border-radius: 15px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.modal-buttons button {
    border: none;
    background-color: #6A0DAD;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}

.modal-buttons .back-button {
    background-color: #fffdfd;
    color: #6A0DAD;
    font-weight: 900;
}

.step-content {
    padding: 30px;
    margin: auto;
}

.step-content h5 {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 15px;
}

/* step1 */
.step1 {
    padding-left: 30px;
    padding-right: 30px;
}

.step1 h5 {
    text-align: center;
    margin: auto;
}

label.form-label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    display: block;
    padding: 5px 10px;
}

input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border: 1px solid #6A0DAD;
}

/* Custom Dropdown for Phone Number */
.dropdown-title {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 5px 10px;
}

.dropdown-image {
    cursor: pointer;
    margin-right: 8px;
    width: 20px;
    height: 15px;
}

.dropdown-item-content {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.dropdown-button {
    position: relative;
    font-size: 16px;
    background-color: transparent;
    border: none;
}

.dropdown-button .dropdown-toggle {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
}

.dropdown-button .dropdown-toggle::after {
    font-size: 12px;
    color: #6A0DAD;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    display: block;
}

/* Specific styling for phone dropdown menu */
.phone-dropdown-menu {
    width: 150px;
    left: 0;
    top: 100%;
    z-index: 1001;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.phone-input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

.phone-input > .dropdown-button {
    width: 25%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    border-right: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    padding: 0;
}

.phone-input .phone-number-input {
    width: 75%;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.phone-input .phone-number-input:focus {
    outline: none;
    border: none;
}

.phone-input .phone-number-input:hover {
    border: none;
}

/* Custom Dropdown for Country */
.country-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: transparent;
    position: relative;
}

.country-dropdown .dropdown-toggle {
    width: 100%;
    text-align: left;
    border: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

.country-dropdown .dropdown-toggle::after {
    font-size: 12px;
    color: #6A0DAD;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.country-dropdown .dropdown-menu {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    top: 100%;
    left: 0;
}

@media screen and (max-width: 600px) {
    .step1 {
        width: 100%;
        padding: 10px;
    }

    .step1 h5 {
        font-size: 17px;
        text-align: center;
    }

    .phone-input > .dropdown-button {
        width: 30%;
    }

    .phone-input .phone-number-input {
        width: 70%;
    }

    .modal .step-content {
        padding: 10px;
    }

    .progress-bar {
        width: 65%;
        background-color: #fffefe;
        margin: 10px auto 0px auto;
        border: #cecdcd solid 2px;
        border-radius: 15px;
    }

    .resumes {
        padding: 20px 10px;
    }
}

.resumes {
    padding: 20px 50px;
}

.resume.title {
    text-align: left;
}

.upload-resume {
    text-align: left;
}

.custom-file-input {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    border: 2px solid #050505;
    border-radius: 20px;
    background-color: transparent;
    height: 185px;
    width: 100%;
    margin-bottom: 0px;
}

.custom-file-input.dragging {
    background-color: #f0f0f0;
}

.custom-file-input .resume-icon {
    width: 100px;
    height: 100px;
    margin-left: 0px;
}

.custom-file-input span {
    font-size: 16px;
    font-weight: 600;
}

.custom-file-input p {
    font-size: 14px;
    color: #ccc;
}

/* Styles for the uploaded file preview */
.uploaded-file-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
}

.uploaded-file-preview .upload-icon {
    width: 100px; /* Match the size of resume-icon */
    height: 100px;
    margin-right: 10px; /* Adjusted margin for larger icon */
}

.uploaded-file-preview span {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    flex-grow: 1;
    text-align: left;
}

.uploaded-file-preview .delete-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.additional-questions {
    padding: 20px;
}

.form-label {
    padding: 20px;
}

.step4 {
    padding: 80px 30px;
}

.final-step {
    padding: 80px 30px;
}

.step4 h5 {
    font-size: 28.08px;
    font-weight: 700;
    font-family: Somar Sans;
}

.step4 p {
    font-family: Somar Sans;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #050505;
}

.step4 .Done {
    width: 165.01995849609375px;
    height: 70.25602722167969px;
    top: 728.49px;
    left: 882.35px;
    border-radius: 35.22px;
    font-family: Somar Sans;
    font-weight: 800;
    font-size: 28.24px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
}

.JobResponse-header {
    margin-bottom: 20px;
    padding: 20px;
}

.JobResponse-header h3 {
    text-align: left;
    font-size: 26px;
    font-weight: 700;
}

.JobResponse-content {
    padding: 22px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 20px;
    border: #ccc solid 1px;
    line-height: 2.1;
}

.JobResponse-text {
    font-size: 17px;
    font-weight: 700;
}